{% extends "main.html" %}

{% block body %}
    <body>
        <div class="card" style="width: 40rem">
            <div class="card-body" >
                <h5 class="card-title">TIHLDE LAN Captive Portal Admin panel</h5>

                <table class="table table-striped table-sm table-dark">
                  <thead>
                    <tr>
                      <th scope="col">IP</th>
                      <th scope="col">Username</th>
                      <th scope="col">Drifter</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for item in data %}
                    <tr>
                      <td>{{item[0]}}</td>
                      <td>{{item[1]}}</td>
                      <td>{{item[2]}}</td>
                      <td>
                        <form action="/admin" class="form-group " method="post">
                          <input type="hidden" value={{item[1]}} name="user" />
                          <input class="btn btn-outline-danger btn-sm" type="submit" value="Ban">
                        </form
                      </td>
                    </tr>

                    {% endfor %}
                  </tbody>
                </table>

            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category,message in messages %}
                <div class="alert alert-{{category}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
                </div>
              {% endfor %}
              {% endif %}
            {% endwith %}

            <div class="card-body" >
                <h5 class="card-title">Banned Users</h5>

                <table class="table table-striped table-sm table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Username</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for item in banned %}
                    <tr>
                      <td>{{item[0]}}</td>
                    </tr>

                    {% endfor %}
                  </tbody>
                </table>

            </div>


        </div>
    </body>
{% endblock %}
